In [1]:
import matplotlib.pyplot as plt

In [2]:
import numpy as np

np.random.seed(1)
np.random.binomial(1000,.5)

496

Supongamos que lanan 2 dados justos

$$\Omega=\{1,2,3,4,5,6\}\times\{1,2,3,4,5,6\}$$

In [7]:
import itertools
from itertools import product
Omega=set (product ({1,2,3,4,5,6}, repeat = 2))
Omega
print(f"La cardinalidad del espacio muestral es: {len(Omega)}")

La cardinalidad del espacio muestral es: 36

Vamos a considerar al evento

$$S=\{(i,j)\in \Omega:i+j=7\}$$

In [12]:
S={om for om in Omega if (om[0]+om[1])==7}
S

{(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)}

Las tuplas son objetos que se escriben:

$$(x_1,x_2,x_3,...,x_n)$$

In [9]:
type((1,2))

tuple

In [10]:
(1,2)[0]

1

In [11]:
(1,2)[1]

2

In [17]:
from fractions import Fraction

def P(A, Omega):
  P= Fraction(len(A), len(Omega))
  return P

In [18]:
P(S,Omega)

Fraction(1, 6)

In [21]:
def S(n):
  S={om for om in Omega if (om[0]+om[1])==n}
  return S

In [22]:
for i in range(2,13):
  print (S(i))

{(1, 1)}
{(1, 2), (2, 1)}
{(3, 1), (1, 3), (2, 2)}
{(2, 3), (3, 2), (4, 1), (1, 4)}
{(2, 4), (1, 5), (5, 1), (4, 2), (3, 3)}
{(3, 4), (4, 3), (6, 1), (1, 6), (2, 5), (5, 2)}
{(4, 4), (6, 2), (2, 6), (5, 3), (3, 5)}
{(4, 5), (5, 4), (6, 3), (3, 6)}
{(4, 6), (6, 4), (5, 5)}
{(5, 6), (6, 5)}
{(6, 6)}

Diccionarios

In [24]:
# Lanzn 100 monedas y cae aguila con probabilidad .6

np.random.seed(1)

estudiantes = {"Godo":  np.random.binomial(100,0.6,10),
               "Kevin":  np.random.binomial(100,0.6,10),
               "Marina":  np.random.binomial(100,0.6,10),
               "Alvaro":  np.random.binomial(100,0.6,10),
               "Roberto":  np.random.binomial(100,0.6,10),
               "Jaume":  np.random.binomial(100,0.6,10),
               "Marifer":  np.random.binomial(100,0.6,10),
               "Ceci": np.random.binomial(100,0.6,10),}
estudiantes

{'Godo': array([62, 58, 59, 57, 63, 65, 67, 59, 59, 59]),
 'Kevin': array([63, 61, 57, 65, 61, 61, 48, 56, 65, 58]),
 'Marina': array([64, 61, 61, 57, 63, 51, 63, 54, 49, 55]),
 'Alvaro': array([62, 65, 67, 65, 58, 51, 67, 58, 51, 64]),
 'Roberto': array([56, 60, 61, 60, 62, 53, 53, 68, 62, 60]),
 'Jaume': array([60, 61, 62, 66, 62, 61, 61, 59, 57, 62]),
 'Marifer': array([62, 58, 62, 55, 61, 61, 56, 62, 51, 51]),
 'Ceci': array([56, 52, 60, 58, 61, 67, 59, 64, 61, 68])}

In [28]:
import pandas as pd

index= [1,2,3,4,5,6,7,8,9]

df= pd.DataFrame (estudiantes)
df

   Godo  Kevin  Marina  Alvaro  Roberto  Jaume  Marifer  Ceci
0    62     63      64      62       56     60       62    56
1    58     61      61      65       60     61       58    52
2    59     57      61      67       61     62       62    60
3    57     65      57      65       60     66       55    58
4    63     61      63      58       62     62       61    61
5    65     61      51      51       53     61       61    67
6    67     48      63      67       53     61       56    59
7    59     56      54      58       68     59       62    64
8    59     65      49      51       62     57       51    61
9    59     58      55      64       60     62       51    68

In [29]:
#Como puedo elegir que numero salio en el tercer lanzamiento?

df["Kevin"]

0    63
1    61
2    57
3    65
4    61
5    61
6    48
7    56
8    65
9    58
Name: Kevin, dtype: int64

In [33]:
df["Kevin"][3]

65

In [35]:
df.iloc[3]["Kevin"]

65

In [37]:
dic={i: P(S(i),Omega)for i in range (2,13)}
dic

{2: Fraction(1, 36),
 3: Fraction(1, 18),
 4: Fraction(1, 12),
 5: Fraction(1, 9),
 6: Fraction(5, 36),
 7: Fraction(1, 6),
 8: Fraction(5, 36),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 11: Fraction(1, 18),
 12: Fraction(1, 36)}

In [42]:
Descriptive = df.describe()

In [43]:
Descriptive.iloc[7].max()

68.0

In [45]:
np.random.choice(["Godo","Ceci"])

'Ceci'

Lo que mas se me quedo de esta clase fue a usar la tulpas dentro de la probabilidad